# copy the repo code to the VM
- name: syncrhonize repo
  become: yes
  ansible.posix.synchronize:
    # src: "{{ item }}"
    src: "{{ lookup('ansible.builtin.env', 'BITOPS_OPSREPO_ENVIRONMENT_DIR') }}/app/{{ app_repo_name }}"
    dest: "{{ app_install_root }}"
    # rsync_opts:
    #   - "--include=*"
    #   - "--include=.*"
  # with_fileglob:
  #   - "{{ lookup('ansible.builtin.env', 'BITOPS_OPSREPO_ENVIRONMENT_DIR') }}/app/{{ app_repo_name }}/*"
  #   - "{{ lookup('ansible.builtin.env', 'BITOPS_OPSREPO_ENVIRONMENT_DIR') }}/app/{{ app_repo_name }}/.*"
    
  register: synchro_repo_output

- ansible.builtin.debug:
    var: synchro_repo_output

- name: copy the .env file
  copy:
    src: "{{ lookup('ansible.builtin.env', 'BITOPS_OPSREPO_ENVIRONMENT_DIR') }}/app.env"
    dest: "{{ app_install_root }}/{{ app_repo_name }}/.env"

- name: Install the aws ca bundle
  get_url:
    url: "https://s3.amazonaws.com/rds-downloads/rds-combined-ca-bundle.pem"
    dest: "{{ app_install_root }}/{{ app_repo_name }}/rds-combined-ca-bundle.pem"
