# copy the repo code to the VM
- name: copy repo
  copy:
    src: "{{ lookup('ansible.builtin.env', 'ANSIBLE_ROOT') }}/app/{{ app_repo_name }}"
    dest: "{{ app_install_root }}/{{ app_repo_name }}"
  register: copy_repo_output

- ansible.builtin.debug:
    var: copy_repo_output

- name: copy the .env file
  copy:
    src: "{{ lookup('ansible.builtin.env', 'ANSIBLE_ROOT') }}/app.env"
    dest: "{{ app_install_root }}/{{ app_repo_name }}/.env"